html,body{
  color: #3C4245;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Comfortaa", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 220px; */
  background-color: white !important;
  color: #3C4245;;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Hiragino Kaku Gothic Pro";
  color: #3C4245;
  font-weight: 700;
}


a {
  color: darkgreen;
}
a:hover {
  color:darkgreen;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: #638f3b;
  box-shadow: 0 1px 1px #638f3b inset, 0 0 8px #638f3b;
  outline: 0 none;
}

.hideExamples {
  display: none;
}

.hoverIndustry:hover + .hideExamples {
  display: block;
  font-size: 13px;
}

.page-container {
  padding-top: 5.8rem;
  background-image: linear-gradient(263.78deg, rgba(245, 188, 41, 0.25) 0.67%, rgba(234, 209, 109, 0.296571) 19.01%, rgba(175, 208, 72, 0.438802) 75.05%, rgba(152, 215, 82, 0.5) 95.87%);
  min-height: 100%;
  overflow: auto;
}
/* Navigation */
.nav-title {
  background-image: linear-gradient(89.94deg, #8FBE5A 2.46%, #F8CC5A 104.8%);
  background-clip: text;
  color: transparent
}

.nav-title-link:hover {
  text-decoration: none;
}

.nav-bar {
  padding-top: 1rem;
  background-color: white;
  padding-bottom: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.icon-container {
  color: #8fbe5a;
  display: flex;
  align-items: center;
}

/* Top of landing page */

.landing-title-container {
  background-color: rgba(255, 255, 255, 0.85);
  text-align: left;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
}

.landing-title-reps {
  background-image: linear-gradient(89.94deg, #8FBE5A 2.46%, #F8CC5A 104.8%);
  background-clip: text;
  width: 10em;
  color: transparent
}

.landing-card {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 4px 4px 5px rgba(143, 190, 90, 0.15);
  border-radius: 10px;
  margin: 3em;
  width: 45%;
}

.landing-title {
  font-size: 3rem;
}

.landing-text {
  font-size: 1.25rem;
}

.form-background {
  background-color: #ffffff;
  border-radius: 15px;
  width: 90%;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0.25em;
}

.form-container {
  display: flex !important;
  align-items: center;
  color: black;
  justify-content: center;
  border-radius: 7px;
}

.form-contents {
  display: flex;
  width: 100%;
  padding: .25rem;
  padding-right: .5rem;
  justify-content: center;
  align-items: center;
}

.search-bar {
  margin-right: 1rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  background-color: #f2f4f8;
  flex-grow: 2;
}

.search-icon {
  margin-left: 0.5rem;
  font-size: 2rem;
}

.landing-dropdown {
  margin-right: 1rem;
  width: 20rem;
}

.privacy-link {
  text-decoration: none;
}

.privacy-link:hover {
  color: darkgreen;
  text-decoration: none;
}

/* Bottom of the landing page */

.landing-button {
  background-color: #8fbe5a;
  color: white;
}

.landing-button:hover {
  background-color: #79a745;
  color: white;
}

.learn-more {
  justify-content: flex-end;
}

.landing-img {
  padding-top: 3em;
  position: sticky;
  height: 25em;
  width: auto;
  bottom: 0;
  right: 0;
}

.landing-bottom {
  display: flex;
}
.nav-link {
  color: black;
  border-bottom: 2px solid #8FBE5A;
  margin: 1em;
}

/* Static Pages */

.static-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  margin-top: 30px;
}

.static-header {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);;
  width: 100%;
  text-align: left;
  padding: 2em;
  margin-top: 1rem;
}

.info-card {
  padding: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #a1adc3;
  margin-bottom: 1rem;
}
.info-card > h3 {
  color: #8fbe5a;
}
.card-info > h3 {
  color: #8fbe5a;
}

.action-card {
  display: flex;
  flex-direction: row;
}
.number-icon {
  background-color: #8fbe5a;
  color: white;
  border-radius: 50%;
  width: 3.75em;
  height: 3rem;
  margin-right: 1rem;
  text-align: center;
}
.two {
  width: 7.25em;
}
.three {
  width: 6.4rem;
}
.number-icon > p {
  font-size: 2em;
  font-weight: 700;
  align-self: center;
}

.header-text {
  font-size: 1.25rem;
  width: 75%;
}

.inner-card-data {
  display: flex;
}

.data-card {
  width: 28rem;
  margin: 2rem;
}

.data-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-info {
  display: flex;
}
.second-header {
  color: #8fbe5a;
}

.about-photos {
  height: 13rem;
  width: 13rem;
}

/* Search Page */

.detailed-search-page {
  display: inline;
}
.white-container {
  padding-top: 5.8rem;
}

.results-header {
  background-image: linear-gradient(263.78deg, rgba(245, 188, 41, 0.25) 0.67%, rgba(234, 209, 109, 0.296571) 19.01%, rgba(175, 208, 72, 0.438802) 75.05%, rgba(152, 215, 82, 0.5) 95.87%);;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.reps-for {
  font-weight: 400;
  font-size: 2em;
}

.search-side-panel {
  padding: 1em;
  height: 30rem;
  height: 100%;
  width: 20%;
  float: left;
}

.results-panel {
  width: 80%;
  float: right;
  outline: 2px solid #8fbe5a;
  background-color: white;
}

.candidate-card {
  width: 18rem;
  height: 20rem;
  text-align: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.results-header > div {
  font-size: 1rem;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-cropper {
  height: 8rem;
  width: 8rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.headshot {
  display: inline;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.filter-label {
  padding-left: 0.5rem;
}

.details-button {
  position: absolute;
  bottom: 2.5em;
}

/* Candidate Details Page */

.details-header {
  background-image: linear-gradient(263.78deg, rgba(245, 188, 41, 0.25) 0.67%, rgba(234, 209, 109, 0.296571) 19.01%, rgba(175, 208, 72, 0.438802) 75.05%, rgba(152, 215, 82, 0.5) 95.87%);
  text-align: center;
  padding: 1.5rem;
  width: 100%;
}

.details-header-text {
  padding-top: 0.5rem;
  font-size: 1.8em;
}

.details-side-panel {
  float: left;
  width: 25%;
  height: 100%;
  padding: 1rem;
  background-color: white;
}

.white-container {
  background-color: white !important;
}

.breakdown-panel {
  float: right;
  width: 75%;
  background-color: #f6f6f6;
}

.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-details-cropper {
  border-radius: 5px;
}

.details-side-header {
  text-align: center;
}

.position-text {
  font-size: 1.25rem;
}

.bills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bill-card {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  width: 25rem;
  outline: none;
}

.details-gradiant {
  background-image: linear-gradient(89.94deg, #8FBE5A 2.46%, #F8CC5A 104.8%);
  background-clip: text;
  width: 15em;
  color: transparent;
}

.position-container h6, .position-container p {
  display: inline;
}

/* Comparison Page */

.comparison-header {
  text-align: center;
  background-image: linear-gradient(263.78deg, rgba(245, 188, 41, 0.25) 0.67%, rgba(234, 209, 109, 0.296571) 19.01%, rgba(175, 208, 72, 0.438802) 75.05%, rgba(152, 215, 82, 0.5) 95.87%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.comp-side-left {
  display: block;
  background-color: rgba(143, 190, 90, 0.1);
  height: 100%;
}

.comp-side-right {
  display: block;
  float: right;
  background-color: rgba(245, 188, 41, 0.1);
}